@media (max-width: 767px){
	.header-element{
        align-items: center;
    }
    .card-name-wrapper>p{
        font-size: 13px !important;
    }

    .description{
        font-size: 13px !important;
        line-height: 17px !important;
    }
    
}

@media (max-height: 800px){
    .final-text {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    .page-model-text {
        margin-bottom: 20px;
    }
    .page-model-text{
        line-height: 18px;
    }
}

@media (max-height: 713px){
	.button-all{
        transform: translateY(70%);
        padding: 10px 45px 10px 45px;
        font-size: 18px;
    }
    .button-main{
        transform: translate(-50%, -50%);
    }
    .page-question-wrapper>.question-text {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .card-name-wrapper{
        margin-top: 15px;
    }
    .page-question-wrapper>.question-title{
        font-size: 30px;
    }
    .page-question-wrapper>.question-text{
        font-size: 18px;
    }
    .card-name-wrapper>p{
        font-size: 18px;
    }
    .in-mobile-text {
        
        width: 41%;
    }

    .page-model-text{
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 17px;
    }
    .page-model-back{
        margin-top: 10px;
    }
    .model-wrapper{
        margin-bottom: 10px;
    }
    .description {
        font-size: 10px !important;
        line-height: 15px !important;
    }
        
}

@media (max-height: 670px) {
    .card-name-wrapper>p{
        font-size: 13px;
    }
    .in-mobile-text{
        font-size: 12px !important;
        width: 41%;
    }
    .final-text{
        font-size: 15px;
        margin-top: 5px !important;
        margin-bottom: 20px !important;
    }
    .page-question-wrapper>.question-text {
        margin-top: 5px;
        margin-bottom: 25px;
    }
}

@media (max-height: 650px){
    .final-text{
        font-size: 12px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    header{
        height: 40px;
    }
    .question-title{
        margin-bottom: 10px;
    }
    .question-text{
        line-height: 24px;
    }
    .ar-img {
        width: 90px !important;
    }
    .ar-hide{
        font-size: 15px;
    }
}

@media (max-height: 600px){
	.button-all{
        transform: translateY(50%);
    }
    .button-main{
        transform: translate(-50%, -50%);
    }
    .question-text{
        line-height: 18px;
    }
    .page-question-wrapper>.question-title{
        margin-bottom: 10px;
    }
    .header-element>p {
        margin-right: 15px;
        font-size: 18px;
    }
    .card-name-wrapper>p {
        
        font-size: 12px !important;
        line-height: 18px;
    }
}

@media (max-height: 540px) {
    .page-question-wrapper>.question-title {
        font-size: 20px;
    }
    .header-element>img {
        width: 50%;
    }
    .page-main-wrapper>p {
        font-size: 30px;
    }
    .page-main-wrapper>h1{
        font-size: 18px;
        padding: 0 20px 0 20px;
    }
    .page-main-logo>img {
        width: 50%;
    }
    .final-text{
        line-height: 13px;
        font-size: 10px !important;
    }
    .button-all{
        margin: 10px;
    }
    .card-name-wrapper>p {
        font-size: 9px !important;
    }
    .model-wrapper>model-viewer {
        width: 60%;
        height: 35px;
    }
    .view-ar{
        font-size: 12px !important;
    }
    .page-model-back {
        margin-top: 10px;
    }
}

@media (max-height: 500px){
    .button-all {
        padding: 5px 30px 5px 30px;
        font-size: 10px;
    }
    .page-question-wrapper>.question-title {
        margin-bottom: 0px;
    }
    .page-question-wrapper>.question-text {
        margin-top: 0px;
        font-size: 13px;
    }
    .page-model-text{
        font-size: 11px;
    }
    .left, .right{
        width: 135px;
        height: 180px
    }
    .header-element>p {
        font-size: 14px;
    }
    .back::after{
        width: 5px;
    }
    .description{
        font-size: 8px !important;
        line-height: 9px !important;
    }
    .ar-img {
        width: 70px !important;
    }
}

@media (max-height: 479px){
    .wrapper{
        display: none;
    }
    #support{
        display: flex;
    }
    header{
        display: none !important;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1279px) {
    
}