/* .state-up-left{
    transition: 1s;
    transform: translateX(50%) scale(1.1) rotate(5deg) !important;
    z-index: 1;
}
.state-down-left{
    transition: 1s;
    transform: translateX(10%) translateY(10%) scale(0.7) rotate(15deg) !important;
}

.state-up-right{
    transition: 1s;
    transform: translateX(-25%) translateY(0) scale(1.1) rotate(-5deg) !important;
}
.state-down-right{
    transition: 1s;
    transform: translateX(25%) translateY(10%) scale(0.7) rotate(-15deg) !important;
} */


