
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Open+Sans&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
}
:root{
    --text-color: #FA4D1E;
    --color-button: #F34B1D;
    --color-button-alpha: #f34b1d7e;
}
a{
    color: var(--text-color);
}
body, html{
    max-width: 100%;
    max-height: 100%;

    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    overflow: hidden;
}

.back{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.back::after{
    content: '';
    position: absolute;
    top: 0;
    left: -23%;

    width: 8px;
    height: 100%;
    background-image: url('../svg/arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.page-model-back::after{
    width: 6px;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #306481;
    transition: .3s;
}
.background-img{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.background-img>img{
    width: 100%;
    max-height: 100%;
    z-index: -1;
}
.img-line{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-line{
    width: 60%;
}

.page-wrapper{
    display: flex;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
/* ======================== */
header{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    flex-direction: row;
    z-index: 1;
}
.header-element{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: flex-end;
}
.header-element:last-child{
    justify-content: flex-end;
}
.header-element>img{
    margin-left: 30px;
    width: 70%;
    max-width: 200px;
}
.header-element>p{
    margin-right: 30px;
    color: #181727;
    cursor: pointer;
}
/* ======================== */
.page-main-wrapper, .page-question-wrapper{
    width: 100%;
    height: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}
.page-main-logo{
    width: 100%;
    margin-bottom: 60px;

    display: flex;
    justify-content: center;
} 
.page-main-logo>img{
    max-width: 300px;
    width: 62%;
}
.page-main-wrapper>p{
    margin-bottom: 15px;

    font-size: 40px;
    font-weight: 700;
    color: #181727;
    text-align: center;
}
.page-main-wrapper>h1{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 60px;

}
.button-all{
    transform: translateY(100%);

    padding: 13px 55px 13px 55px;

    color: #fff;
    background-color: var(--color-button);
    border-radius: 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.651);
    transition: .3s;
    cursor: pointer;
}
.page-question-wrapper{
    overflow: hidden;
}
.button-all:hover{
    color: var(--text-color);
    background-color: var(--color-button-alpha);
}
.button-main{
    margin-top: 0;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ======================== */
.page-question-wrapper>.question-title{
    font-size: 40px;
    text-align: center;
    color: #181727;
    margin-bottom: 15px;
}
.page-question-wrapper>.question-text{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.final-text{
    font-size: 18px;
    line-height: 20px;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
/* ======================== */
.card-wrapper{
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card-wrapper>div{
    display: flex;
    flex-direction: row;
}
.left{
    width: 164px;
    transition: transform .5s;
    transform: translateX(10%) translateY(0) scale(1) rotate(0);
    cursor: pointer;
}
.right{
    width: 165px;
    transition: transform .3s;
    transform: translateX(-10%) translateY(0) scale(1) rotate(0);
    cursor: pointer;
}
.card-name-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}
.card-name-wrapper>p{
    font-weight: bold;
    text-align: center;
    font-size: 15px !important;
    line-height: 24px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: .6s;
}

.left-text, .right-text{
    width: 35%;
}

/* .left-text:hover{
    width: 100%;
}
.left-text:hover ~ .right-text{
    width: 0;
    opacity: 0;
} */

.in-mobile-text{
    width: 45%;
}
/* .card-name-wrapper>p:first-child{
    transform: translateX(-15%);
}
.card-name-wrapper>p:last-child{
    transform: translateX(15%);
} */
/*============================*/
.model-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.model-wrapper>model-viewer{
    width: 80%;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.651);
    overflow: hidden;
}
.page-model-text{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #181727;
}
.page-model-back{
    font-size: 18px;
    text-align: center;
    color: #181727;
    margin-top: 30px;
    cursor: pointer;
}
.view-ar{
    width: 100%;
    height: 100%;
    

    color: #fff;
    background-color: var(--color-button);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s;
    cursor: pointer;
    white-space: nowrap;
    z-index: 11;
    border-radius: 50px;
}
.ar-img{
    width: 120px;
}
.ar-hide{
    width: 100%;
    height: 100%;

    border-radius: 50px;
    background-color: var(--color-button);

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 10;
}

#support{
    display: none;
}
.invalid-wrapper{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #181727a9;
    z-index: 10000;

    display: none;
    justify-content: center;
    align-items: center;
}
.invalid{
    width: 80%;
    height: 10%;
    background-color: #fff;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.description{
    font-size: 17px !important;
    line-height: 18px !important;
}

/* .invalid-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 10%;

    background: #181727;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    z-index: 10000;
    color: #fff;
} */

